@model IEnumerable<_netmvc.Models.Dish>

@{
    ViewData["Title"] = "Danh sách món ăn";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">

    <div class="py-4">
        @if (ViewData["idtype"] == null)
        {
            <button type="button" class="btn btn-primary">
                Tất cả
            </button>
        }
        else
        {
            <a class="link-underline-light" asp-action="Index">
                <button type="button" class="btn btn-light">
                    Tất cả
                </button>
            </a>
        }
        @foreach (var i in (IEnumerable<_netmvc.Models.DishType>)ViewData["lstype"]!)
        {
            if (ViewData["idtype"] != null && i.Id == (int)ViewData["idtype"]!)
            {

                <button type="button" class="btn btn-primary">
                    @Html.DisplayFor(modelItem => i.Name)
                </button>
            }
            else
            {
                <a class="link-underline-light" asp-action="Index" asp-route-idtype="@i.Id">
                    <button type="button" class="btn btn-light">
                        @Html.DisplayFor(modelItem => i.Name)
                    </button>
                </a>
            }
        }
    </div>
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="ratio ratio-1x1">
                    <img class="object-fit-cover rounded" style="max-width: 100%;" src='/sta/@item.PathImage'>
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div>
                    Giá: @Html.DisplayFor(m => item.Price)
                </div>
                <div class="row">
                    <form asp-action="Details" class="col-4" method="get">
                        <input type="hidden" value="@item.Id" name="id">
                        <button class="btn btn-primary" type="submit"> Details </button>
                    </form>
                    <form asp-action="Edit" class="col-4" method="get">
                        <input type="hidden" value="@item.Id" name="id">
                        <button class="btn btn-primary" type="submit"> Edit </button>
                    </form>


                </div>
            </div>
        }
    </div>

</div>